
@import url('https://fonts.googleapis.com/css?family=Heebo|Poppins');

// Body
$body-bg: #292929;
$root: '/express/public/';

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$font-color: #fff;
$line-height-base: 1.6;


$disabledBg: #484848; 
$disabledTxt: #8c8c8c;

// Colors
$blue: #2666E2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
