@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Heebo|Poppins);html,
body {
  background-color: #292929;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo";
  font-weight: 500;
}

p,
a,
span {
  font-family: "Heebo";
  font-weight: 400;
  color: #717171;
  text-decoration: none;
}

.container {
  padding: 15px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.error {
  color: #f73232;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.success {
  color: #32f755;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.btn {
  padding: 12px 20px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border: 0;
  cursor: pointer;
  background-color: #2666E2;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 1;
}

.btn[disabled] {
  background-color: #484848;
  color: #8c8c8c;
  pointer-events: none;
}

.buttons {
  margin-top: 25px;
}

.buttons :not(:first-child) {
  margin-left: 25px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

#navigation img {
  width: 50px;
  height: auto;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}

#navigation li a {
  color: white;
  font-family: "Poppins";
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.item-wrapper {
  background-color: #1A1A1A;
  padding: 20px 30px;
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-wrapper .item *:not(:first-child) {
  margin-left: 40px;
}

.item-wrapper .item h2 {
  margin: 0;
  font-size: 16px;
  min-width: 150px;
}

.item-wrapper .item img {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.item-wrapper .item span {
  font-family: "Heebo";
  font-size: 16px;
  display: block;
}

.item-wrapper .item:not(:first-child) {
  margin-top: 20px;
}

.item-wrapper .item i {
  width: 50px;
}

.item-wrapper .item .on {
  color: #00ff00;
}

.item-wrapper .item .off {
  color: #ff0e0e;
}

.main-form input[type=email],
.main-form input[type=password],
.main-form input[type=text] {
  padding: 15px 25px;
  background-color: #383838;
  color: #afafaf;
  border-radius: 5px;
  border: 0;
  border-left: 6px solid rgba(228, 52, 204, 0.7);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  width: 300px;
  margin-bottom: 15px;
}

.main-form input[type=email]:focus,
.main-form input[type=password]:focus,
.main-form input[type=text]:focus {
  outline: 0;
}

.main-form label {
  display: block;
}

[v-cloak] {
  display: none;
}

.search input {
  padding: 15px 20px;
  background-color: #383838;
  color: #afafaf;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.search input:focus {
  outline: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

